<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Last Name</th>
          <th scope="col">First Name</th>
          <th scope="col" style="width: 1px;"></th>
        </tr>
      </thead>
      <tbody>
<tr *ngFor="let cliente of clienti"(click)="gotoClienteDettaglio(cliente)">
<td>{{cliente.lastName}}</td>
<td>{{cliente.firstName}}</td>
<td><button class="btn btn-danger" (click)="delete(cliente)">Delete</button></td>
</tr>
  </tbody>
</table>
<button class="btn btn-secondary" (click)="goBack()">Back</button>
 
  </div>
</div>