tr:hover {
    background-color: grey;
    left: .1em;
  }

h1{
  padding-top: 30px;
    text-align: center;
    color: aliceblue;
  }
  
  h2
{
  color: rgb(235, 15, 15);
  
}
  
.details-table{
    width: 50%;
    margin: auto;

    
  }

body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(assets/libri.jpg) no-repeat center top; 
    position: fixed;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align-last: center;
    overflow: auto;
    height: 100%;
    position: fixed;
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  


.card{
  background-color: #ffffffe6;
	border-style: outset;
	border-width: 5px;
  border-color: grey;
  width: fit-content;
  margin: auto;

}

form{
  display: inline-block;

}

.form-group{
  width: fit-content;
  margin: auto;


}

table{
  min-width: 800px;

}
